<div class="container">
	<div class="row">

		<fieldset>		
			<div class="form-group">
			  <label class="control-label">Campo 1: <%= @tabela1.campo1%></label>
			</div>

			<div class="form-group">
			  <label class="control-label">Campo 2: <%= @tabela1.campo2%></label>
			</div>
	  </fieldset>	
	</div>
</div>